body {
    background-color: rgb(61, 80, 63);
    background-image: url('../src/lib/misc/background.jpg');
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
}

input, textarea, select { font-family:inherit; }

h1 {
    font-size: 50px;
    margin-top:0;
}

h2,h3,h4 {
    margin:5px 0;
}

h3 {
    font-size:30px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 80% 20%;
}

.title {
    font-family: 'Slackey', cursive;
}

.main-content {
    grid-column: 1/2 ;
}

.main-chat {
    grid-column: 2/3;
}

#code {
    color:white;
    /* text-decoration: underline; */
}
.hover-panel {
    position: absolute;
    left:0;
    right:0;
    top:10%;
    margin:auto;
    width:400px;
    height:fit-content;
    background-color: rgba(16, 41, 18, 0.86);
    text-align: center;
    padding:50px 100px;
    border-radius: 20px;
    box-shadow: rgba(8, 26, 0, 0.5) 5px 10px 20px, rgba(0, 0, 0, 0.6) 5px 10px 10px, rgba(0, 0, 0, 0.6) 0px 10px 20px;
}

.btn-landing {
    width: 85%;
    border: 0;
    border-radius: 10px;
    background-color: rgb(26, 119, 0);
    color: white;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    margin:12px auto;

}

.btn-leave { 
    border: 0;
    border-radius: 10px;
    background-color: rgb(93, 94, 93);
    color: white;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    margin:12px auto;
    cursor: pointer;
}

.leave-lobby {
    width: 85%;
}

.leave-game {
    cursor: pointer;
    position:absolute;
    right:10px;
    font-size: 12px;
    width:fit-content;
    padding:5px;
    border-radius: 0;
    z-index: 1;
}

#landing-error {
    color: rgb(126, 32, 3);
    font-size: 24px;
    margin-bottom: 0;
}

input[type=text] {
    box-sizing: border-box;
    height:2rem;
    width:340px;
    justify-self: center;
    margin:10px auto;
    background-color: rgb(163, 162, 162);
    border-radius: 10px;
    padding:0px 10px;

}

.small-img {
    max-width: 100px;
    max-height: 100px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-players {
    list-style-type: none;
    padding:0;
    margin: 10px;
    
}

.lobby-players li {
    display: flex;
    justify-content: space-between;
    margin:0 0 10px 0;
    border:1px solid green;
    background-color: rgb();
    height:3rem;
    line-height: 3rem;
    background-color: rgb(112, 136, 84);
    padding-left: 20px;
    font-weight: 600;
    border-radius: 10px;
}



.kick-btn, .btn-copy {
    background-color: rgba(16, 41, 18);
    height: 50%;
    width:60px;
    margin:auto 10px;
    color: rgb(160, 160, 160);
    border-radius: 5px;
    cursor: pointer;
}

.btn-copy {
    width:250px;
}

.btn-copy:active {
    background-color: rgb(112, 136, 84);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* CARDS */

.card-btn {
    padding:0;
    border:0;
    margin: 2px; 
    /* background-color: red; */
    border-radius: 7px;
    cursor: pointer;
    display: flex;

}

.card-img  {
    margin:0;
    max-height: 11vh;
    padding:0;
    vertical-align: bottom;
    border-radius: 5px;

}

.lock {
    position:absolute;
    align-self: center;
    justify-self: center;
    max-height: 11vh;
}

.selected { 
    opacity: 0.88;
    background-color: red;
}


.game-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 3fr;
    max-width:100%;
    max-height:100%;
}

/* PLAYER AREAS */


.hand-shown {
    background-color:  rgb(172, 142, 12);
    border: 3px solid  rgb(172, 142, 12);
    border-radius: 6px;
}

.hand-hidden {
    background-color:  rgb(30, 51, 33);
    border: 3px solid  rgb(30, 51, 33);
    border-radius: 6px;
}

.hand-hidden, .hand-shown {
    display: flex;
    align-content: center;
    max-width: 35em;

}

.hand-wrap {
    overflow: hidden;
}

.hand-wrap:last-child {
    overflow: visible;
}



.player-area-0 {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    margin:0 auto;
    max-width: 80%;
}

.player-area-1 {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction:column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin:0 auto;
    max-width: 80%;
    transform: rotate(90deg)
}

.player-area-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column-reverse;
    margin:0 auto;
    max-width: 80%;
}

.player-area-3 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction:column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin:0 auto;
    max-width: 80%;
    transform: rotate(270deg)
}

.player-name {
    margin:0;
    font-weight: 1000;
    font-size: 18px;
    padding:15px 0;
}



/* PILE GRID */

.board-center {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}

.pile-area {
    /* width: ; */
    /* height: 300px; */
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: auto;
    grid-gap: 2px;
    /* background-color:  rgb(30, 51, 33);
    border: 5px solid  rgb(30, 51, 33); */
    border-radius: 6px;
}



.pile {
    margin: auto;
}

.deck-area {
    grid-column: 3/4;
    margin: auto;
    border-radius: 3px;
}

/* WINNER PANEL STYLES */

.shader {
    position:absolute;
    width:80%;
    height:100%;
    background-color: black;
    opacity: 0.6;
    z-index:9;
}

.lifter {
    height:120px;
}

.minimise, .minimisereduce {
    position: relative;
    margin:20px;
    width:30px;
    height:30px;
    background-image: url('./lib/misc/minimise.png');
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

.minimisereduce {
    margin:5px;
}

.win-panel {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    height:40vh;
    width:40vw;
    background-color: rgb(167, 162, 162);
    text-align: center;
    margin:auto;
    left:10px;
    right:10px;
    top:10px;
    bottom:10px;
    z-index:11;
    border-radius: 20px;
    font-size: 40px;
}

.win-panel p {
    margin:0;
}

.reduce {
    height:40px;
    width:40px;
    margin: 0;
    border-radius: 5px;
}



.btn-space{
    margin:0 5px
}


/* GAME INFO STYLES */

.game-info { 
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position:absolute;
    right:21%;
    top:10px;
    z-index:10;
    height:fit-content
}

.info {
    margin:5px;
    background-color: rgb(211, 189, 189);
    font-size: 18px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 10px;
    box-shadow: rgba(12, 37, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.leaver {
    background-color: rgb(167, 95, 95);
}

.info p {
    margin:5px;
    margin-left:10px;
    
}

.glow {
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(42, 56, 43, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


/* GAME RULES */

.rules {
    box-sizing: border-box;
    position:absolute;
    max-width:60%;
    background-color: rgb(243, 235, 224);
    left:0;
    right:0;
    margin: 30px auto 0 auto;

    border-radius:4px;
    max-height:90vh;
    border:20px solid rgb(243, 235, 224);
}

.r {
    overflow-y: auto;
}

.rules p {
    font-size: 14px;
    margin-top:0;
}

.rules h4 {
    text-decoration: underline;
}

#btn-open-rules {
    all:unset;
    text-decoration: underline;
    cursor: pointer;
}

#btn-close-rules {
    all:unset;
    margin-top:20px;
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    font-weight: 900;
    /* position: right; */
}

/* CHAT */




.chat-container {
    /* position:absolute;
    right:0;
    top:0; */
    height:100vh;
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    background-color: rgb(24,24,26);
}


#messages{
    box-sizing: border-box;
    margin:0;
    padding-top:50px;
    position:relative;
    padding-left: 0px;
    height:94vh;
    max-height: 94vh;
    overflow-y: auto;

}


.chat-container li {
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(135,135,135);
    max-width: 90%;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    overflow-wrap: break-word;
}




#message-form {
    margin-top:5px;
    text-align: center;
    width: 100%;
}

#message-btn {
    height:20px;
    width: 20%;
    border: 0;
    background-color: rgb(47, 47, 47);
    color: white;
    cursor: pointer;
}

#message-input {
    all:unset;
    width: 60%;
    height: 20px;
    font-family: helvetica, arial, sans-serif;
    color: rgb(135,135,135);
    padding:0px;
    border:0px;
    background-color: rgb(50,50,52);
    text-align: left;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-right:5px;
    
}

#message-input:focus {
    outline: none;
    border-color:#b5b0b9
}



